<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="searchbar">
        <div class="content-searchbar">
          <div class="left-searchbar">
            <a href=""><img src="assets/img/logo-boolflix.png" alt="Logo Boolflix"></a>
          </div>
          <div class="right-searchbar">
            <input type="text" v-model="inputUtente" v-on:keyup.enter="searchUtente" placeholder="Cerca un titolo">
            <i class="fas fa-search" @click="searchUtente"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="card" v-for="video in videoRicerca">
          <div class="content-card">
            <div class="image-card">
              <img v-if="video.poster_path == null || video.poster_path == undefined" src="assets/img/copertina-vuota.png" alt="">
              <img v-else :src=`https://image.tmdb.org/t/p/w200/${video.poster_path}`>
              <div class="text-card">
                <p class="title">{{ video.title ? video.title : video.name }}</p>
                <p>Titolo Originale: {{ video.original_title ? video.original_title : video.original_name }}</p>
                <span class="vote">Voto: {{ video.vote_average }}</span>
                <p><i class="fas fa-star" v-for="stelle in 5"></i></p>
                <p>Tipo: {{ video.media_type }}</p>
                <span>
                <img v-if="video.original_language == 'en'" src="https://countryflags.io/us/flat/16.png">
                <img v-else-if="video.original_language == 'ja'" src="https://countryflags.io/jp/flat/16.png">
                <img v-else-if="video.original_language == 'da'" src="https://countryflags.io/de/flat/16.png">
                <img v-else-if="video.original_language == 'zh'" src="https://countryflags.io/cn/flat/16.png">
                <img v-else :src=`https://www.countryflags.io/${video.original_language}/flat/16.png`></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
