<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="searchbar">
        <div class="content-searchbar">
          <div class="left-searchbar">
            <img src="assets/img/logo-boolflix.png" alt="Logo Boolflix" @click="provanation">
          </div>
          <div class="right-searchbar">
            <input type="text" v-model="inputUtente" v-on:keyup.enter="searchUtente">
            <button type="button" name="button" @click="searchUtente">Invio</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul>
        <li v-for="film in filmRicerca":src="nationFlag">Titolo: {{ film.title }} Titolo Originale: {{ film.original_title }} <br> Lingua: {{ film.original_language }} Voto: {{ film.vote_average }}</li>
      </ul>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
