* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: 'Titillium Web', sans-serif;
}

.searchbar {
  background-color: rgb(20, 20, 20);
  padding: 0 5%;
  min-width: 685px;
}

.searchbar .content-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;;
}

.searchbar .content-searchbar .left-searchbar {
  display: flex;
  justify-content: center;
}

.searchbar .content-searchbar .left-searchbar img {
  height: 30px;
}

.searchbar .content-searchbar .left-searchbar img:hover {
  cursor: pointer;
}

.searchbar .content-searchbar .left-searchbar a {
  text-decoration: none;
  vertical-align: middle;
  margin-right: 25px;
}

.searchbar .content-searchbar .left-searchbar a span {
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
}

.searchbar .content-searchbar .left-searchbar a:hover span {
  font-weight: 600;
}

.searchbar .content-searchbar .right-searchbar {
  display: flex;
  align-items: center;
}

.searchbar .content-searchbar .right-searchbar input {
  background-color: rgb(20, 20, 20);
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  margin: 0 5px;
}

.searchbar .content-searchbar .right-searchbar input::placeholder {
  color: #fff;
}

.searchbar .content-searchbar .right-searchbar i {
  padding: 5px;
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
}

.searchbar .content-searchbar .right-searchbar i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.flag {
  width: 20px;
  margin: 0 5px;
}

.flag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  background-color: rgb(17, 17, 17);
  padding: 15px 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  min-width: 685px;
}

.main-title {
  width: 100%;
  padding: 0 10px;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
}

.main .card {
  width: 200px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
}

.card .content-card .image-card {
  position: relative;
}

.card .content-card .image-card .text-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .9s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.card .content-card:hover .image-card .text-card {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}

.vote {
  font-weight: 200;
  font-size: 15px;
}

.yellow {
  color: yellow;
}

.overview-content {
  height: 100%;
  overflow-y: auto;
}

.overview {
  font-size: 13px;
  margin-bottom: 15px;
}

/* FOOTER */

.footer {
  background-color: rgb(20, 20, 20);
  padding: 0 5%;
  min-width: 685px;
}

.footer .content-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;;
}

.footer .content-footer img {
  height: 30px;
}

.footer .content-footer img:hover {
  cursor: pointer;
}

.copyright {
  color: rgb(211, 211, 211);
  font-size: 13px;
  margin: 5px;
}
