* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {

}

.searchbar {
  background-color: rgb(20, 20, 20);
  padding: 0 5%;
}

.searchbar .content-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;;
}

.searchbar .content-searchbar .left-searchbar img {
  height: 30px;
}

.searchbar .content-searchbar .left-searchbar img:hover {
  cursor: pointer;
}

.searchbar .content-searchbar .right-searchbar {
  display: flex;
  align-items: center;
}

.searchbar .content-searchbar .right-searchbar input {
  background-color: rgb(20, 20, 20);
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  margin: 0 5px;
}

.searchbar .content-searchbar .right-searchbar input::placeholder {
  color: #fff;
}

.searchbar .content-searchbar .right-searchbar i {
  padding: 5px;
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
}

.main {
  background-color: rgb(17, 17, 17);
  padding: 0 5%;
  color: #fff;
}
