* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: 'Titillium Web', sans-serif;
}

.searchbar {
  background-color: rgb(20, 20, 20);
  padding: 0 5%;
}

.searchbar .content-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;;
}

.searchbar .content-searchbar .left-searchbar img {
  height: 30px;
}

.searchbar .content-searchbar .left-searchbar img:hover {
  cursor: pointer;
}

.searchbar .content-searchbar .right-searchbar {
  display: flex;
  align-items: center;
}

.searchbar .content-searchbar .right-searchbar input {
  background-color: rgb(20, 20, 20);
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  margin: 0 5px;
}

.searchbar .content-searchbar .right-searchbar input::placeholder {
  color: #fff;
}

.searchbar .content-searchbar .right-searchbar i {
  padding: 5px;
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
}

.main {
  background-color: rgb(17, 17, 17);
  padding: 0 5%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.main .card {
  width: 200px;
  margin: 10px;
}

.card .content-card .image-card {
  position: relative;
}

.card .content-card .image-card .text-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .9s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .content-card:hover .image-card .text-card {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.vote {
  font-weight: 200;
  font-size: 15px;
}
